body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Heebo', sans-serif;
    margin: 0;
}

.banner-img {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    margin: 0;
    text-align: center;
    padding-top: 100px;
    color: white;
    padding-bottom: 150px;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 950;
}

p {
    padding-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-link {
    text-decoration: none;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    background-color: tomato;
    color: white;
    height: 40px;
    padding: 13px 20px;
    border-radius: 5px;
    font-size: 17px;
}

.donate-area {
    text-align: center;
    padding-bottom: 100px;
}

.donate-h2 {
    font-size: 45px;
}

.donate-p {
    color: gray;
}

.flexible-container {
    display: flex;
    padding-left: 5%;
}

.donate-today {
    width: 10%;
    height: 40%;
    box-shadow: 10px 10px 20px gray;
    font-size: 25px;
    font-weight: 700;
}

.donate-plan {
    width: 30%;
    height: 80%;
    padding-top: 40px;
    padding-left: 10px;
    margin: 40px 10px;
    text-align: left;

}

#food {
    background-color: lightblue;
}

#shelter {
    background-color: pink;
}

#Education {
    background-color: moccasin;
}

.half-width {
    width: 50%;
    margin: 40px 20px;
    text-align: left;
}

.half-width img {
    width: 480px;
    height: 100%;
}

#lives-donate {
    font-size: 40px;
    font-weight: 950;
    text-align: left;
}

.box {
    background-color: peachpuff;
    padding-top: 50px;
}

#subscribe {
    background-color: orangered;
}

footer {
    background-color: black;
    height: 90%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0;
}

#footer-h1 {
    color: orangered;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
}

#footer-p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}